.DS_Store

newtonTest/.DS_Store

locaExample/CMakeCache.txt

newtonTest/newtonExec

*.cmake

newtonTest/Makefile

*.marks

*.make

*.o

newtonTest/CMakeFiles/newtonExec.dir/link.txt

*.make

*.internal

*.cmake

*.includecache

*.check_cache

newtonTest/CMakeFiles/TargetDirectories.txt

newtonTest/CMakeFiles/Makefile2

*.out

newtonTest/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

locaExample/chanExec

locaExample/Makefile

*.check_cache

*.bin

*.log

locaExample/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

locaExample/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

locaExample/CMakeFiles/Makefile2

locaExample/CMakeFiles/TargetDirectories.txt

locaExample/CMakeFiles/chanExec.dir/link.txt

newtonTest/CMakeCache.txt

*.bin

newtonTest/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
