.DS_Store

newtonTest/.DS_Store

locaExample/CMakeCache.txt

newtonTest/newtonExec

*.cmake

newtonTest/Makefile

*.marks

*.make

*.o

newtonTest/CMakeFiles/newtonExec.dir/link.txt

*.make

*.internal

*.cmake

*.includecache

*.check_cache

newtonTest/CMakeFiles/TargetDirectories.txt

newtonTest/CMakeFiles/Makefile2

*.out

newtonTest/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

locaExample/chanExec

locaExample/Makefile

*.check_cache

*.bin

*.log

locaExample/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

locaExample/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

locaExample/CMakeFiles/Makefile2

locaExample/CMakeFiles/TargetDirectories.txt

locaExample/CMakeFiles/chanExec.dir/link.txt

newtonTest/CMakeCache.txt

*.bin

newtonTest/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

Examples/brusselator/Makefile

Examples/brusselator/brussExec

Examples/brusselator/CMakeFiles/brussExec.dir/link.txt

Examples/brusselator/CMakeFiles/TargetDirectories.txt

Examples/brusselator/CMakeFiles/Makefile2

Examples/brusselator/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

Examples/brusselator/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

Examples/brusselator/CMakeCache.txt

Examples/locaExample/chanExec

Examples/locaExample/Makefile

Examples/locaExample/CMakeFiles/chanExec.dir/link.txt

Examples/locaExample/CMakeFiles/TargetDirectories.txt

Examples/locaExample/CMakeFiles/Makefile2

Examples/locaExample/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

Examples/locaExample/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

Examples/locaExample/CMakeCache.txt

Examples/preditorPrey/do-configure

Examples/preditorPrey/chanExec

Examples/preditorPrey/Makefile

Examples/preditorPrey/CMakeCache.txt

Examples/preditorPrey/CMakeFiles/CompilerIdC/CMakeCCompilerId.c

Examples/preditorPrey/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp

Examples/preditorPrey/CMakeFiles/Makefile2

Examples/preditorPrey/CMakeFiles/Progress/1

Examples/preditorPrey/CMakeFiles/Progress/2

Examples/preditorPrey/CMakeFiles/Progress/count.txt

Examples/preditorPrey/CMakeFiles/TargetDirectories.txt

Examples/preditorPrey/CMakeFiles/ppExec.dir/link.txt
